<h2>Préambule</h2>

<p>Cette page récapitule différents éléments et outils rendus disponibles depuis le compte HubSpot. La liste des éléments pourra être enrichie au fur et à mesure de l'avancement du projet. Ces éléments ont été conçus et implémentés dans le cadre de l'accompagnement au déploiement de HubSpot fourni par Okédito, et en ligne avec les enjeux stratégiques d'acquisition et de conversion validés avec le client.</p>

<p>Les formulaires (hormis le formulaire de prise de RDV s'il est utilisé) sont des formulaires HTML simples : la mise en forme se fera au moyen de l'application de styles CSS au niveau du front end, dans le contexte technique choisi.</p>

[La documentation de HubSpot donne plus d'informations sur ce sujet.](https://knowledge.hubspot.com/fr/forms/how-can-i-share-a-hubspot-form-if-im-using-an-external-site){:target="_blank"}

<p>L'intégration d'un formulaire se fait par le simple dépôt du code fourni dans la div où doit apparaître le formulaire en question.</p>

<p><i>* Note regardant la confidentialité : tous les éléments présentés ici ont pour vocation à être intégrés en front-end, et ne constituent donc pas des données sensibles.</i></p>

<hr style="margin:2em 0">