{% for form in page.forms %}
<h2>{{ form.name }}</h2>
<button onclick="CopyToClipboard('{{ form.id }}')">Copier le code</button>

    <script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
    <script>
      hbspt.forms.create({
        region: "{{ page.hs_region }}",
        portalId: "{{ page.hs_portalId }}",
        formId: "{{ form.id }}"{% if form.onFormReady %},
        onFormReady: function($form) {
          var DOCUMENT = 'Nom du document téléchargeable';
          $('#hsForm_{{ form.id }} > div.hs_doc_request_form.hs-doc_request_form.hs-fieldtype-text.field.hs-form-field > div > input').val(DOCUMENT).change();
        }{% endif %}
      });
    </script>
  {: id="A{{ form.id }}"}

<script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
<script>
  hbspt.forms.create({
    region: "{{ page.hs_region }}",
    portalId: "{{ page.hs_portalId }}",
    formId: "{{ form.id }}"{% if form.onFormReady %},
    onFormReady: function($form) {
      var DOCUMENT = 'Nom du document téléchargeable';
      $('#hsForm_{{ form.id }} > div.hs_doc_request_form.hs-doc_request_form.hs-fieldtype-text.field.hs-form-field > div > input').val(DOCUMENT).change();
      }{% endif %}
  });
</script>
<hr style="margin:2em 0">
{% endfor %}