{% for form in page.forms %}
<h2>{{ form.name }}</h2>
{% if form.comment %}
<p><i>{{ form.comment }}</i></p>
{% endif %}
<button onclick="CopyToClipboard('{{ form.id }}')">{% if page.language == "en" %}Copy code{% else %}Copier le code{% endif %}</button>

    <script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
    <script>
      hbspt.forms.create({
        region: "{{ page.hs_region }}",
        portalId: "{{ page.hs_portalId }}",
        formId: "{{ form.id }}"{% if form.onFormReady %},
        onFormReady: {{ form.onFormReady }}{% endif %}{% if form.onFormSubmit %},
        onFormSubmit: {{ form.onFormSubmit }}{% endif %}{% if form.onFormSubmitted %},
        onFormSubmitted: {{ form.onFormSubmitted }}{% endif %}
      });
    </script>
  {: id="A{{ form.id }}"}

<script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
<script>
  hbspt.forms.create({
    region: "{{ page.hs_region }}",
    portalId: "{{ page.hs_portalId }}",
    formId: "{{ form.id }}"{% if form.onFormReady %},
    onFormReady: {{ form.onFormReady }}{% endif %}{% if form.onFormSubmit %},
    onFormSubmit: {{ form.onFormSubmit }}{% endif %}{% if form.onFormSubmitted %},
    onFormSubmitted: {{ form.onFormSubmitted }}{% endif %}
  });
</script>
<hr style="margin:2em 0">
{% endfor %}