<h2>Tracking code HubSpot</h2>

<p>A insérer sur <strong>toutes</strong> les pages du site web.</p>

<p><a href="https://knowledge.hubspot.com/fr/reports/install-the-hubspot-tracking-code" target="_blank">La documentation de HubSpot donne plus d’informations sur ce sujet.</a></p>

<button onclick="CopyToClipboard('{{ page.hs_portalId }}')">Copier le code</button>

    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js-eu1.hs-scripts.com/{{ page.hs_portalId }}.js"></script>
    <!-- End of HubSpot Embed Code -->
  {:id="A{{ page.hs_portalId }}"}

<hr style="margin:2em 0">