{% for form in page.forms %}
<h2>{{ form.name }}</h2>
<button onclick="CopyToClipboard('{{ form.id }}')">Copier le code</button>

    <script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
    <script>
      hbspt.forms.create({
        region: "{{ page.hs_region }}",
        portalId: "{{ page.hs_portalId }}",
        formId: "{{ form.id }}"{% if form.onFormReady %},
        onFormReady: function($form) {
          var DOCUMENT = 'Nom du document téléchargeable';
          $('#hsForm_{{ form.id }} > div.hs_doc_request_form.hs-doc_request_form.hs-fieldtype-text.field.hs-form-field > div > input').val(DOCUMENT).change();
        }{% endif %}{% if form.onFormSubmit %},
        onFormSubmit: function($form) {
          let MAIL =  $("#email-1a1b1e71-085d-459f-b21f-083ad4c40c0e")[0].value;
        }{% endif %}
      });
      {% if form.CustomMessage %}
      window.addEventListener('message', event => {
        if(event.data.type === 'hsFormCallback' && event.data.eventName === 'onFormSubmitted') {
          document.querySelector(".submitted-message a").href += "?email="+ MAIL;
        }
      }); 
      {% endif %}
    </script>
  {: id="A{{ form.id }}"}

<script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
<script>  
  hbspt.forms.create({
    region: "{{ page.hs_region }}",
    portalId: "{{ page.hs_portalId }}",
    formId: "{{ form.id }}"{% if form.onFormReady %},
    onFormReady: function($form) {
      var DOCUMENT = 'Nom du document téléchargeable';
      $('#hsForm_{{ form.id }} > div.hs_doc_request_form.hs-doc_request_form.hs-fieldtype-text.field.hs-form-field > div > input').val(DOCUMENT).change();
      }{% endif %}{% if form.onFormSubmit %},
    onFormSubmit: function($form) {
      let MAIL =  $("#email-1a1b1e71-085d-459f-b21f-083ad4c40c0e")[0].value;
    }{% endif %}
  });
  {% if form.CustomMessage %}
  window.addEventListener('message', event => {
    if(event.data.type === 'hsFormCallback' && event.data.eventName === 'onFormSubmitted') {
      document.querySelector(".submitted-message a").href += "?email="+ MAIL;
    }
  }); 
  {% endif %}
</script>
<hr style="margin:2em 0">
{% endfor %}