{% if page.language == "en" %}
<h2>Foreword</h2>

<p>This page summarizes various elements and tools made available from the {{ page.title | escape }} HubSpot account. The list of elements may be updated as the project progresses. These elements were designed and implemented as part of the HubSpot deployment support provided by Okédito, and in line with the strategic acquisition and conversion goals validated with the client.</p>

<p>Forms (excluding the appointment scheduling form, if used) are simple HTML forms: formatting will be applied using CSS styles on the front end, within the chosen technical context.</p>

[HubSpot's documentation provides more information on this topic.](https://knowledge.hubspot.com/forms/how-can-i-share-a-hubspot-form-if-im-using-an-external-site){:target="_blank"}


<p>Integrating a form is done by simply pasting the provided code into the div where the form should appear.</p>

<p><i>* Note regarding privacy: all elements presented here are intended to be integrated on publicly accessible websites and do not therefore constitute sensitive data.</i></p>

{% else %}
<h2>Préambule</h2>

<p>Cette page récapitule différents éléments et outils rendus disponibles depuis le compte HubSpot de {{ page.title | escape }}. 
    La liste des éléments pourra être enrichie au fur et à mesure de l'avancement du projet. Ces éléments 
    ont été conçus et implémentés dans le cadre de l'accompagnement au déploiement de HubSpot fourni par 
    Okédito, et en ligne avec les enjeux stratégiques d'acquisition et de conversion validés avec le client.</p>

<p>Les formulaires (hormis le formulaire de prise de RDV s'il est utilisé) sont des formulaires HTML 
    simples : la mise en forme se fera au moyen de l'application de styles CSS au niveau du front 
    end, dans le contexte technique choisi.</p>

[La documentation de HubSpot donne plus d'informations sur ce sujet.](https://knowledge.hubspot.com/fr/forms/how-can-i-share-a-hubspot-form-if-im-using-an-external-site){:target="_blank"}

<p>L'intégration d'un formulaire se fait par le simple dépôt du code fourni dans la div où doit apparaître 
    le formulaire en question.</p>

<p><i>* Note regardant la confidentialité : tous les éléments présentés ici ont pour vocation à être 
    intégrés en front-end, et ne constituent donc pas des données sensibles.</i></p>
{% endif %}

<hr style="margin:2em 0">